.form1 {
  /* background-color: red; */
  margin: 30px;
}

.muzikTarz {
  text-align: center;
  margin: 20px;
}

.basarıSirasi {
  text-align: center;
}

.muzikBaslik {
  text-align: center;
  color: green;
}
