header {
  text-align: center;
}

header h1 {
  /* Her yönden margin tanımlaması */
  /* margin: 100px; */

  /* Yukarıdan ve aşağıdan - Soldan ve sağdan Margin */
  /* margin: 50px 100px; */

  /* Yukarıdan - Sağdan - Aşağıdan - Soldan Margin */
  /* margin: 50% 60px 50px 40px; */

  margin-bottom: 0px;
}

header p {
  margin-top: 0px;
}

.card {
  background-color: #e3eedc;
  text-align: center;
}

.card h4 {
  font-size: 44px;
  padding-top: 28px;
  margin: 32px 0px;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
}

.card:hover {
  transition: 1.4s;
  background-color: #cfe6b9;
}

.card label {
  font-size: 20px;
}

#mail {
  font-weight: 700;
}

nav {
  text-align: center;
  margin: 30px 0px;
}

nav a {
  margin: 20px;
  background-color: #96a78d;
  color: #d9e9cf;
  padding: 12px 16px;
  text-decoration: none;
  /* border-radius: 10px 0px 5px 20px; */
  border-radius: 20px 0px;
}

nav a:hover {
  background-color: #84ac6f;
  color: #ffffff;
}
